input{
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 4px;
}

.submitBtn{
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 4px;
    width: 100px
}

#addBtn{
    margin: 0  0 15px 0;
    border-radius: 10px;
    font-size: 16px;
    border: 1px solid #cccccc;
    padding: 5px;
    width: 150px
}

table{
    border-collapse: collapse;
    width: 100%;
}

#addTable{
    border-collapse: collapse;
    width: 50%;
}

#listTable tr:nth-child(even) {
    background-color: #e0e0e0;
}
#listTable tr:nth-child(odd) {
    background-color: #fff;
}

th, td{
    border-bottom: 1px solid #909090;
}

td{
    text-align: center;
}